version: '3.8'

services:
  doc-system-prod:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_BASE_URL=http://192.168.3.10:10043
        - NEXT_PUBLIC_DS_BASE_URL=http://host.docker.internal:10043
    container_name: doc-system-container
    ports:
      - "127.0.0.1:3001:3001"
    environment:
      - PORT=3001
      - NODE_ENV=production
      - NEXT_PUBLIC_BASE_URL=http://192.168.3.10:10043
      - NEXT_PUBLIC_DS_BASE_URL=http://host.docker.internal:10043
      - BASE_URL=http://192.168.3.10:10043
      - DS_BASE_URL=http://host.docker.internal:10043
    volumes:
      # 挂载上传目录
      - /home/cqj/my-doc-system-uploads/upload:/app/public/upload
      - /home/cqj/my-doc-system-uploads/save:/app/public/save
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always